 #large {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 10px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.list-group-item {
    text-align: center;
}

div {
    padding: 10px;
}

p {
    padding: 10px;
    font-size: 20px;
}