<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

        <title>Transformed features</title>

    </head>

    <body>
        <div class="table-condensed"><table id="transformed_feature_table" class="table"></table></div>

        <script type=text/javascript>

            var features = {{ transformed_features | safe }};

            var first_feature_name = Object.keys(features)[0];
            var no_of_data_points = Object.values(features[first_feature_name]).length;

            var tableHeader = "<table class='table-condensed'><tr></tr>";
            var tableContent = "";

            for (var feature_name in features) {
                tableHeader = tableHeader + "<th>"+feature_name+"</th>";
            }

            for (i = 0; i < no_of_data_points; i++) {

                tableContent = tableContent + "<tr>";

                for (feature_name in features) {
                    var feature_value = Object.values(features[feature_name])[i]
                    tableContent = tableContent + "<td>" + Number.parseFloat(feature_value).toFixed(4) + "</td>";
                }

                tableContent = tableContent + "</tr>";
            }

            var tableFooter = "</table>";

            document.getElementById("transformed_feature_table").innerHTML = tableHeader + tableContent + tableFooter;
        </script>
    </body>
</html>