{% extends "base.html" %}

{% block startup_js %}
    <script type="text/javascript">
        function make_table_from_json(data_json) {

            var first_feature_name = Object.keys(data_json)[0];
            var no_of_data_points = Object.values(data_json[first_feature_name]).length;

            var tableHeader = "<thead>";
            var tableContent = "<tbody>";

            for (var feature_name in data_json) {
                tableHeader = tableHeader + "<th>"+feature_name+"</th>";
            }

            tableHeader = tableHeader + "</thead>";

            for (i = 0; i < no_of_data_points; i++) {

                tableContent = tableContent + "<tr>";

                for (feature_name in data_json) {
                    var feature_value = Object.values(data_json[feature_name])[i]
                    tableContent = tableContent +
                                   "<td>" +
                                   Number.parseFloat(feature_value).toFixed(4) +
                                   "</td>";
                }
                tableContent = tableContent + "</tr>";
            }

            tableContent = tableContent + "</tbody>";

            return tableHeader+tableContent;
        }
    </script>
{% endblock %}

{% block content %}
    <h1 align="center">Feature transformations</h1>
    </br>
    <h4 align="center">Here, you can preview custom feature transformation code on one of the available datasets.</h4>
    <div class="container">
        <div align="center" class="form-group">
            <form action="{{ url_for('features') }}" method="POST">
            <label for="select_data_features">Select a dataset: </label>
            <select class="form-control-inline" id="select_data_features" name="select_data">
                {% for dataset_name, dataset_link in user.available_datasets.items() %}
                    {% if dataset_name == user.loaded_data_name %}
                        <option value="{{ dataset_name }}" selected>{{ dataset_name }}</option>
                    {% else %}
                        <option value="{{ dataset_name }}">{{ dataset_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </br>
            </br>
            <textarea cols="62" rows="25" id="code-box-features" name="code_box">{{ user.feature_code }}</textarea>
            </br>
            <div>
                <input type="submit" value="Preview" name="preview_button" class="btn btn-primary" id="preview_code"/>
                <input type="submit" value="Commit" name="commit_button" class="btn btn-primary" id="commit_code"/>
            </div>
            </form>
        </div>
        <div align="center" class="form-group">
            {% if backend_response["data_loading_error"] %}
                <h3 align="center"> An error occurred while attempting to load "{{ user.loaded_data_name }}"</h3>
                <p>
                    The error was: </br>
                    <p><strong>{{ backend_response["data_loading_error"]['error'] }}</strong></p>
                    <p>The traceback is: </br></br>{{ backend_response["data_loading_error"]['traceback'] }}</p>
                </p>
            {% elif backend_response["raw_data_preview"] %}
                <h3 align="center"> Raw data preview for the dataset "{{ user.loaded_data_name }}"</h3>
                <p> Showing only those columns, used by the feature transformation code</p>
                </br>
                <table id="raw_feature_table" class="table table-striped"></table>
                <script type=text/javascript>
                    document.getElementById("raw_feature_table").innerHTML =
                    make_table_from_json({{ backend_response["raw_data_preview"]| safe }});
                </script>
            {% else %}
            <h3 align="center">No raw data selected</h3>
            <p>
                This section will contain a preview of your raw data, once you have attempted to preview
                valid feature transform code.

                Possible errors that occur during raw data ingestion or feature transformation will
                also be displayed, along with a stack trace.
            </p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div align="center">
        {% if backend_response["transform_error"] %}
            <h3 align="center"> An error occurred while transform features of "{{ user.loaded_data_name }}"</h3>
            <p>
                The error was: </br>
                <p><strong>{{ backend_response["transform_error"]['error'] }}</strong></p>

                <p>The traceback is: </br></br> {{ backend_response["transform_error"]['traceback'] }}</p>
            </p>
        {% elif backend_response["feature_preview"] %}
            <h3 align="center">
                Preview of custom features, generated from the dataset "{{ user.loaded_data_name }}"
            </h3>
            </br>
            <table id="transformed_feature_table" class="table table-striped"></table>
            <script type=text/javascript>
               document.getElementById("transformed_feature_table").innerHTML =
               make_table_from_json({{ backend_response["feature_preview"] | safe }});
            </script>
        {% else %}
            <h3 align="center">No transformed features to display</h3>
            <p>
            This section will contain a preview of your transformed features.
            </br>
            Preview feature transformation code using the 'Preview' button on the bottom left.
            </p>
        {% endif %}
        </div>
    </div>
{% endblock %}
