<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{url_for('.static', filename='style.css')}}">
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript">
        function make_table_from_json(data_json) {

            var first_feature_name = Object.keys(data_json)[0];
            var no_of_data_points = Object.values(data_json[first_feature_name]).length;

            var tableHeader = "<thead>";
            var tableContent = "<tbody>";

            for (var feature_name in data_json) {
                tableHeader = tableHeader + "<th>"+feature_name+"</th>";
            }

            tableHeader = tableHeader + "</thead>";

            for (i = 0; i < no_of_data_points; i++) {

                tableContent = tableContent + "<tr>";

                for (feature_name in data_json) {
                    var feature_value = Object.values(data_json[feature_name])[i]
                    tableContent = tableContent +
                                   "<td>" +
                                   Number.parseFloat(feature_value).toFixed(4) +
                                   "</td>";
                }
                tableContent = tableContent + "</tr>";
            }

            tableContent = tableContent + "</tbody>";

            return tableHeader+tableContent;
        }

        {% block startup_js %}{% endblock %}

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand",
           href="{{ url_for('index') }}">MLHub</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link"
             href="{{ url_for('datasets') }}">Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="{{ url_for('features') }}">Features</a>
          </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ url_for('training') }}">Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ url_for('commits') }}">Commits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ url_for('deployment') }}">Deployment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ url_for('docs') }}">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        </div>
    </nav>
    </br>
    </br>
    <a href="https://github.com/stojan211287/mfhDemo">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
             alt="Fork me on GitHub">
    </a>
    {% block content %}{% endblock %}
</body>
</html>